[Unit]
Description=Swarm backup (non-leader only)
Requires=docker.service
After=network-online.target docker.service
RequiresMountsFor=/backup/swarm
ConditionPathIsMountPoint=/backup/swarm

[Service]
Type=oneshot
Environment=KEEP=30
ExecStart=/usr/local/sbin/swarm-backup.sh
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
